@model IEnumerable<GuestResponse>
@{
    ViewData["Title"] = "ListResponse";
}

<div class="container-fluid">
    <div class="row p-1">
        <div class="col font-weight-bold">Name</div>
        <div class="col font-weight-bold">Email</div>
        <div class="col font-weight-bold">Phone</div>
        <div class="col font-weight-bold">Attending</div>
    </div>
    @foreach (PartyInvites.Model.GuestResponse item in Model)
    {
        <div class="row" p-1>
            <div class="col">@item.Name</div>
            <div class="col">@item.Email</div>
            <div class="col">@item.Phone</div>
            <div class="col">@(item.WiilAttend == true ? "Yes" : "No")</div>
        </div>
        
    }
</div>

